@import "tailwindcss";

@theme {
  --color-lighter: oklch(98.511% 0.00011 271.152);
  --color-light: oklch(98.156% 0.00253 107.12);
}

/* @utility grid-cols-autofit {
  grid-template-columns: repeat(auto-fit, minmax(3.125rem, 1fr));
} */


@media (max-width: 318px) {
  #grid-card {
    grid-template-columns: repeat(auto-fit, minmax(3.125rem, 1fr));
  }
  #placement {
    grid-column-start: 1;
  }
}

@media (max-width: 268px) {
  #mediaQuery {
    display: none;
  }
}

/* @layer {
  color-red. {
    background-color: oklch(98.511% 0.00011 271.152);
  }
} */